<div class="card">
  <div class="card-body">
    <h5 class="card-title">Cadastro de funcionários</h5>
    <p class="card-text">Preencha os campos para cadastrar um funcionário.</p>
    <hr />



    <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-md-8">
          <label>Nome do funcionário:</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite aqui"
            formControlName="nome"
          />
          <div
            class="text-danger"
            *ngIf="form.nome.touched && form.nome.invalid"
          >
            <span *ngIf="form.nome.errors.required">
              Por favor, informe o nome do funcionário.
            </span>
            <span *ngIf="form.nome.errors.minlength">
              Por favor, informe no mínimo 6 caracteres.
            </span>
            <span *ngIf="form.nome.errors.maxlength">
              Por favor, informe no máximo 150 caracteres.
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <label>CPF:</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite aqui"
            formControlName="cpf"
            mask="000.000.000-00"
          />
          <div class="text-danger" *ngIf="form.cpf.touched && form.cpf.invalid">
            <span *ngIf="form.cpf.errors.required">
              Por favor, informe o cpf do funcionário.
            </span>
            <span *ngIf="form.cpf.errors.minlength">
              Por favor, informe 11 caracteres.
            </span>
            <span *ngIf="form.cpf.errors.maxlength">
              Por favor, informe 11 caracteres.
            </span>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-4">
          <label>Matrícula:</label>
          <input
            type="text"
            class="form-control"
            placeholder="Digite aqui"
            formControlName="matricula"
            mask="0000-00"
          />
          <div
            class="text-danger"
            *ngIf="form.matricula.touched && form.matricula.invalid"
          >
            <span *ngIf="form.matricula.errors.required">
              Por favor, informe a matrícula do funcionário.
            </span>
            <span *ngIf="form.matricula.errors.minlength">
              Por favor, informe no mínimo 6 caracteres.
            </span>
            <span *ngIf="form.matricula.errors.maxlength">
              Por favor, informe no máximo 10 caracteres.
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <label>Data de Admissão:</label>
          <input
            type="date"
            class="form-control"
            formControlName="dataAdmissao"
          />
          <div
            class="text-danger"
            *ngIf="form.dataAdmissao.touched && form.dataAdmissao.invalid"
          >
            <span *ngIf="form.dataAdmissao.errors.required">
              Por favor, informe a data de admissão do funcionário.
            </span>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-12">
          <input
            type="submit"
            value="Cadastrar Funcionário"
            class="btn btn-success"
            [disabled]="!formCadastro.valid"
          />
        </div>
      </div>
    </form>
    <div class="mt-3">
      <strong> {{mensagem_cadastro}} </strong>
    </div>
  </div>
</div>
